body {
  background-color: rgb(236, 234, 108);
}

header {
  background-color: white;
  margin-bottom: 30px;
  font-size: 40px;
  text-align: center;
}

footer {
  margin: 20px;
  font-size: 12px;
  font-style: italic;
}

#page {
  background-color: white;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

ul {
  list-style: none;
}

a {
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: white;
}

.NavBar {
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid black;
  text-align: center;
  display: none;
}

#title {
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 10px;
}

#info {
  width: 300px;
  text-align: left;
  margin: auto;
}

#contact-list {
  margin: auto;
  width: 350px;
  text-align: center;
}

#icon {
  background-color: white;
  color: black;
}

#icon:hover {
  color: gold;
}

@media screen and (min-width: 700px) {
  .NavBar {
    display: flex;
    justify-content: center;
  }
}